@tailwind base;
@tailwind components;
@tailwind utilities;
.sc-guDLRT .jnKa-Dc .rdt_TableHead{
    @apply rounded-t-md !important
}
.rdt_TableCol {
    @apply  border-0 bg-[#48C9B0] text-white text-sm font-bold  !important
  }
  .rdt_TableCell{
    @apply flex justify-center px-2 py-2  rounded-t-md  !important
  }
  .sc-gswNZR{
    @apply  !important
  }

  .jtfTQm{
    @apply border-[1px] !important
  }
  